<select (change)="onChange($event.target.value)">
  <option value="allFoods" selected="selected">All Foods</option>
  <option value="lowCalorieFoods">Low Calorie Foods</option>
  <option value="highCalorieFoods">High Calorie Foods</option>
</select>

<ul>
  <li *ngFor="let food of childFoodList | calorie:filterByCalories">{{food.name}}
    <ul>
      <li>Details: {{food.details}}</li>
      <li [class]="calorieFiltration(food)">{{food.calories}}</li>
      <button class="btn-xs" (click)="editFoodHasBeenClicked(food)">Edit Food</button>
    </ul>
  </li>
</ul>
