ul {
  list-style: none;
}

.btn-xs {
  background: none;
  border: none;
  color: hotpink;
  margin: 5px;
}

.btn-xs:hover {
  text-decoration: underline;
  color: pink;
}

.food-name {
  font-size: 25px;
}

.form-control {
  margin-top: 5px;
  margin-bottom: 10px;
}
